html {
    font-family: "Helvetica Neue";
    background-color: rgb(23, 23, 28)
}

body {

}

header {

}

h1 {
    text-align: center;
    color: rgba(238, 255, 128, 0.663);
    font-size: 30px;
    font-weight: lighter
}

main {

}

nav {
    text-align: center;
    font-weight: 300
}

a {
    color:rgb(220, 234, 149);
    text-decoration: none;
}

footer {

}
