html {
    font-family: "Helvetica Neue";
    background-color: rgb(23, 23, 28)
}

body {

}

header {

}

h1 {
    text-align: center;
    color: rgba(238, 255, 128, 0.663);
}

main {

}

nav {
    text-align: center;
    text-size-adjust: 10x;

}

a {
    color:rgb(220, 234, 149);
    text-decoration: none;
}

footer {

}
