html{
    font-family: "Helvetica Neue";
    background-color: rgb(149, 149, 193)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container{
    color: #fff;
    background-color: blue;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu{
    border: 1px solid #fff; /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.links{
    display: flex;
    justify-content: flex-end;
}

.login{
    margin-left: 20px;
}

/*h1 {
    text-align: center;
    color: rgba(238, 255, 128, 0.663);
    font-size: 30px;
    font-weight: lighter
}



nav {
    text-align: center;
    font-weight: 300
}

a {
    color:rgb(220, 234, 149);
    text-decoration: none;
}
*/